:root {
  --accent: rgba(255, 77, 0, 1);
  --gray-0: rgba(255, 255, 255, 1);
  --gray-300: rgba(202, 201, 196, 1);
  --gray-600: rgba(114, 113, 109, 1);
  --gray-900: rgba(34, 38, 42, 1);
  --gray-950: rgba(23, 23, 21, 1);
  --shades-0: rgba(255, 255, 255, 1);
  --shades-900: rgba(41, 43, 34, 1);
}